<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vivek Modi</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body>
    <div class="landingscreen" id="home">
      <nav class="navbar navbar-dark navbar-expand-lg fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand logo" href="#home"> Vivek Modi </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse ml-auto rightbar" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#interests">Interests</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#projects">Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#aboutme">About Me</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contactme">Contact Me</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="row lscontent">
        <div class="col-lg-6 col-md-12 col-sm-12 leftcontentls">
          <p class="helloim">Hello I'm</p>
          <p class="vivekmodi">Vivek Modi</p>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 rightcontentls">
          <img src="images/photo.png" alt="" />
        </div>
      </div>
    </div>
    <p class="weirdbox" id="interests">Interests</p>
    <div class="row interests">
      <div class="col-lg-5 col-md-5 col-sm-12 interesttab">
        <div class="interesttabtitle">WEB DEVELOPMENT</div>
        <div class="interesttabicon">
          <i class="fa-brands fa-react fa-9x" style="color: #ffffff"></i>
        </div>
        <div class="interesttabtext">
          As a dedicated MERN stack developer, I thrive on creating dynamic and
          responsive websites that deliver seamless user experiences. Passionate
          about web development, I’m committed to continuous learning and always
          exploring the latest technologies and techniques. Crafting efficient,
          scalable, and elegant web applications motivates me to grow every day
        </div>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-12 interesttab">
        <div class="interesttabtitle">DSA</div>
        <div class="interesttabicon">
          <i class="fa-solid fa-laptop fa-9x" style="color: #ffffff"></i>
        </div>
        <div class="interesttabtext">
          I enjoy the challenge of solving complex problems through Data
          Structures and Algorithms. DSA sharpens my logical thinking and
          problem-solving skills, enabling me to write optimized and efficient
          code. Competing in programming contests and working on algorithmic
          challenges keeps me motivated to continuously improve. Mastering DSA
          empowers me to build robust and high-performance applications.
        </div>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-12 interesttab">
        <div class="interesttabtitle">AI and ML</div>
        <div class="interesttabicon">
          <i class="fa-solid fa-mobile fa-9x" style="color: #ffffff"></i>
        </div>
        <div class="interesttabtext">
          I am fascinated by Artificial Intelligence and Machine Learning and
          their potential to transform industries. Exploring AI/ML allows me to
          understand intelligent systems and data-driven decision making. I
          enjoy experimenting with models and algorithms to solve real-world
          problems. This passion drives me to keep learning and applying AI/ML
          techniques in innovative projects..
        </div>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-12 interesttab">
        <div class="interesttabtitle">Digital Electronics</div>
        <div class="interesttabicon">
          <i class="fa-solid fa-layer-group fa-9x" style="color: #ffffff"></i>
        </div>
        <div class="interesttabtext">
          I am passionate about Digital Electronics and its foundational role in
          modern technology. Understanding digital circuits, logic design, and
          microcontrollers excites me, as they form the building blocks of
          complex systems. I enjoy designing and analyzing digital systems to
          create efficient and reliable hardware solutions. This interest fuels
          my curiosity and drives me to deepen my knowledge in electronics.
        </div>
      </div>
    </div>
    <p>Projects</p>
    <div class="projects">
      <div class="projecttab">
        <div class="projecttabtitle">Project1</div>
        <div class="projecttabcontent">
          <div class="projecttabimage"></div>
          <div class="projecttabtext">
            <div class="projecttabh2">
             about the project
            </div>
            <div class="projecttabh3">
            
            </div>
          </div>
        </div>
      </div>
      <div class="projecttab">
        <div class="projecttabtitle">Project2</div>
        <div class="projecttabcontent">
          <div class="projecttabtext">
            <div class="projecttabh2">
              about the project
            </div>
            <div class="projecttabh3">
       
            </div>
          </div>
          <div class="projecttabimage"></div>
        </div>
      </div>
      <div class="projecttab">
        <div class="projecttabtitle">Project3</div>
        <div class="projecttabcontent">
          <div class="projecttabimage"></div>
          <div class="projecttabtext">
            <div class="projecttabh2">
             about the project 



            </div>
            <div class="projecttabh3">
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <p>About Me</p>
    <div class="aboutme">
      <div class="education">
        <div class="educationtitle"></div>
        <div class="educationcontent">
          <div class="educationimage"></div>
          <div class="educationtext">
            <div class="educationtab">
              <div class="educationdegree">
                <p>B.E. in Electronics and Communication Engineering</p>
              </div>
              <div class="educationnondegree">
                <div class="educationcollege">
                  <p>BMS College of Engineering</p>
                </div>
                <div class="educationgrade">
                  <p>Current CGPA: 8.78</p>
                </div>
              </div>
            </div>
            <div class="educationtab">
              <div class="educationdegree">
                <p>Class 12, MadhyaPradesh Board</p>
              </div>
              <div class="educationnondegree">
                <div class="educationcollege">
                  <p>Mother Mary H S School</p>
                </div>
                <div class="educationgrade">
                  <p>Percentage: 89.6%</p>
                </div>
              </div>
            </div>
            <div class="educationtab">
              <div class="educationdegree">
                <p>Class 10, CBSE</p>
              </div>
              <div class="educationnondegree">
                <div class="educationcollege">
                  <p>The Aditya Birla Public School</p>
                </div>
                <div class="educationgrade">
                  <p>Percentage: 92.8%</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/05b867acb2.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
